.Tag {
  background-color: rgb(176, 211, 50);
  display: flex;
  flex-direction: column;

  margin: 10px;
  padding: 5px;

  border-radius: 5px;
  box-shadow: 1px 1px 2px;

  min-width: 80px;
  max-width: 200px;
  height: 30px;

  transform: scale(1);
  transition: transform .2s;

  -moz-transform: scale(1);
  -moz-transition: -moz-transform .2s;
}

.TagLink {
  text-decoration: none;
  color: inherit;
}


.onCreate {
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation: popup .5s;

  -moz-animation-name: fadeIn;
  -moz-animation-duration: 0.5s;
  -moz-animation-timing-function: ease-in;
  -moz-animation: popup .5s;
}

.onDelete {
  animation-name: scaleOut;
  animation-duration: .6s;

  -moz-animation-name: scaleOut;
  -moz-animation-duration: .6s;
}

.upperCross {
  position: relative;
  top: 50%;
  border-top: 2px solid rgb(200, 0, 0);
  rotate: 15deg;
}

.lowerCross {
  position: relative;
  bottom: 50%;
  /* border-top: 2px solid rgb(200, 0, 0); */
  color: rgb(200, 0, 0);
  rotate: -15deg;
  /* border */
}

.Tag:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform .2s;
}

.removable:hover {
  opacity: .9;
}

.Tag label {
  /* display: flex;
  align-self: flex-start; */
  margin-right: 20px;
  cursor: inherit;
}

.Tag button {
  position: absolute;
  display: inline-flex;
  align-self: flex-end;
  height: 20px;
  margin: auto;
  padding: 0;
  flex-wrap: nowrap;
  align-content: center;
}

.Tag .icon {
  position: absolute;
  display: inline-block;
  align-self: flex-end;
  margin: 2px
  
}
@keyframes popup {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
    transition: transform;
  }
  100% {
    transform: scale(1);
    transition: transform;
    opacity: 1;
  }
}

@keyframes hoverPop {
  0% {
    scale: 1;
  }
  100% {
    transform: scale(1.1);
    transition: transform
  }
}
@-moz-keyframes hoverPop {
  0% {
    transform: scale(1);
  }
  100% {
    -moz-transform: scale(1.1);
    -moz-transition: -moz-transform;
  }
}

@keyframes fadeIn {
  10% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  10% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scaleOut {
  0% {
    scale: 1;
    opacity: 1;
  }
  100% {
    opacity: 0.2;
    transform: scale(0);
    transition: transform;
  }
}
@-moz-keyframes scaleOut {
  0% {
    scale: 1;
    opacity: 1;
  }
  100% {
    opacity: 0.2;
    transform: scale(0);
    transition: transform;
  }
}

.tagslist {
  visibility: visible;
}