.CartCheckoutButton {
  margin-top: 20px;
  width: 100%;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1.0rem;
  padding: 10px;
  background: var(--primary-dark);
  color: white;
}

.CartCheckoutButton:focus {
  outline: none;
}

.CartCheckoutButton:hover {
  background: var(--primary-darker);
}