.CheckoutProductTrashCan {
  width: 20px;
  background: transparent;
  cursor: pointer;
  border: 0;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 1.0rem;
  color: var(--button-primary)
}

.CheckoutProductTrashCan:focus {
  outline: none;
}

.CheckoutProductTrashCan:hover {
  color: var(--button-hover)
}