.Flash {
  display: flex;
  align-self: flex-start;
  width: 100%;
  height: 33px;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 2px;
  border-width: 1.5px;
  border-style: solid;
}
.Flash .messageSpan {
  width: 100%;
  font-size: 1rem;
  text-align: center;
}

.alert-failure {
  border-color: rgb(187, 22, 22);
  background-color: rgba(187, 22, 22, 0.300);
}

.alert-success {
  border-color: rgb(79, 160, 79);
  background-color: rgba(79, 160, 79, 0.300);
}

.alert-visible {
  opacity: 1;

  animation-name: fadeOut;
  animation-delay: 7s;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  
  -moz-animation-name: fadeOut;
  -moz-animation-delay: 7s;
  -moz-animation-duration:3s;
  -moz-animation-timing-function: ease-in;
  
  -webkit-animation-name: fadeOut;
  -webkit-animation-delay: 7s;
  -webkit-animation-duration: 3s;
  -webkit-animation-timing-function: ease-in;
}

.alert-hidden {
  opacity: 0;
}

@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}
