.MetaDescription {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
}

.MetaDescription .DescriptionHeader {
  font-size: 1.8rem;
  text-decoration: underline;
}

.MetaDescription .DescriptionText {
  margin-top: 10px;
  width: 100%;
  border: 1px solid var(--border-dark);
  text-align: left;
  padding: 15px;
}