.ProductCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 200px;
  margin: 10px;
  margin-top: 20px;
}

.ProductCard .Product {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 200px;
}

.ProductCardLink {
  text-decoration: none;
}