.CheckoutProductInfo {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.CheckoutProductName {
  font-size: 1.2rem;
  font-weight: 500;
}

.CheckoutProductDesc {
  font-size: 1.0rem;
}

.CheckoutProductQuantity {
  font-size: 1.0rem;
  margin-top: auto;
}