.Header {
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  background: #ffffff;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100px 300px auto 100px 100px;
  grid-template-areas: "menu logo search user cart";
  padding: 0;
}

@media screen and (max-width: 1200px) {
  .Header {
    grid-template-columns: 100px 250px auto 100px 100px;
  }
}

@media screen and (max-width: 1050px) {
  .Header {
    height: 160px;
    grid-template-rows: auto;
    grid-template-columns: 100px 250px 1fr 100px 100px;
    grid-template-areas: 
      "menu logo . user cart"
      "search search search search search";
  }
}

.HeaderLink {
  color: #000000;
  text-decoration: none;
}