.FruityButton {
  background-color: var(--button-primary); /* Green */
  border: none;
  border-radius: 0;
  color: white;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  font-size: 1.0rem;
}

.FruityButton:hover {
  background-color: var(--button-hover);
  cursor: pointer;
}

.FruityButton:focus, .FruityButton:active {
  outline: none;
}

.FruityButton:active {
  background-color: var(--button-click);
}

.Icon {
  font-size: 1.0rem;
}