.Input {
  display: block;
  margin: 20px;
  font-style: inherit;
  text-align: left;
}

.Input label, .Input input {
  display: block;
  margin: 10px;
}

.Input label {
  font-size: 1.5rem;
}

.Input input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  padding: 10px;
}