.CartProductTrashCan {
  cursor: pointer;
  border: 0;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 1.0rem;
  color: var(--button-primary)
}

.CartProductTrashCan:focus {
  outline: none;
}

.CartProductTrashCan:hover {
  color: var(--button-hover)
}