.ProductBuyButton {
  margin-top: 15px;
  cursor: pointer;
  border: 0;
  border-radius: 10px;
  background: red;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
  color: white;
  font-size: 1.0rem;
  font-weight: 800;
  flex: 1;
}

.ProductBuyButton:focus {
  outline: none;
}

.CartIcon {
  margin-left: 10px;
}