.Footer {
  padding: 2rem;
  width: 100%;
  min-height: 200px;
  background: var(--background-dark);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative; /* Part of Sticky Footer */
  flex-shrink: 0; /* Part of Sticky Footer */
}

.Footer .Logo {
  margin: 0 1rem 1rem 0rem;
}
