.CartBar {
  width: 400px;
  background: var(--background-dark);
  z-index: 1;
  position: absolute;
  top: 80px;
  padding: 10px;
  right: 0px;
}

.CartBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 0px;
  margin-bottom: 10px;
}