.CartProduct {
  width: 100%;
  display: grid;
  grid-template-columns: 50px auto;
  margin-bottom: 10px;
  border-bottom: 1px solid white;
  padding-bottom: 5px;
}

.CartProductInfo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CartProd {
  margin-left: 10px;
}



