.List {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  text-align: left;
}

.List span {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  font-weight: bold;
}

.List ul {
  margin-top: 0.5rem;
  list-style: none;
}
