.LoginBar {
  width: 300px;
  height: 300px;
  background: var(--background-dark);
  z-index: 1;
  position: absolute;
  top: 80px;
  right: 100px;
}

.LoginBar label {
  float: left;
  width: 100%;
}

.LoginBar input {
  display: block;
  width: 90%;
  margin: 0 1em 1em 1em;
}

.LoginBar input[type=button] {
  background-color: orange;
  border: none;
  text-decoration: none;
  color: white;
  padding: 20px 20px;
  margin: 20px 20px;
  cursor: pointer;
}

.LoginBar #login-form {
  margin: 1em;
}

.LoginBar #logged-in {
  float: left;
  margin:1em;
}

.LoginBar button#logout {
  margin: 1em;
  display: block;
}

.hidden { display:none; }