.NavBar {
  box-sizing: border-box;
  width: 280px;
  min-height: 150px;
  padding-top: 20px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  background: var(--background-dark);
  z-index: 1;
  position: absolute;
  top: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.NavBar span.MenuHeader {
  margin-left: 20px;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.NavBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  margin-bottom: 10px;
}

.NavBar ul li {
  font-size: 1.1rem;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
}

.MenuLink {
  color: var(--primary-dark);
  text-decoration: underline;
  text-decoration-color: var(--primary-light);
  text-underline-offset: 0.2rem;
  text-decoration-thickness: 0.15rem;
}

.MenuLink:hover {
  text-decoration-color: var(--primary-dark);
}

.MenuIcon {
  color: #000000;
  margin-right: 10px;
}

.NavBar button {
  width: 100%;
  height: 40px;
  border: none;
  background-color: var(--button-light);
  font-size: 0.9rem;
  border-bottom: 2px solid var(--background-dark);
  border-right: 2px solid var(--background-dark);
}

.NavBar button:hover {
  cursor: pointer;
}

.NavBar button:active, .NavBar button:focus {
  outline: none;
}