.Dropdown {
  width: 100%;
  display: block;
  margin: 20px;
  font-style: inherit;
  text-align: left;
}

.Dropdown label, .Dropdown select {
  display: block;
  margin: 10px;
}

.Dropdown label {
  font-size: 1.5rem;
}

.Dropdown select {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  padding: 5px;
}