.Subscribe {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.Subscribe span {
  display: block;
  font-size: 0.8rem;
  font-weight: bold;
}

.Subscribe input {
  display: inline-block;
}
