.Main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  flex-grow: 1; /* Part of Sticky Footer */
  background: var(--background-light);
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 40px;
}