.CheckoutProduct {
  width: 100%;
  display: grid;
  grid-template-columns: 100px auto 100px;
  padding: 10px;
}

.CheckoutProduct:nth-of-type(even) {
  background: var(--background-dark);
}

.CheckoutProductImage {
  width: 100px;
  height: 100px;
  object-fit: cover;
}