.ProductShortDesc {
  max-width: 100%;
  margin-top: 5px;
  font-size: 0.9rem;
  text-align: left;
  color: black;
  text-decoration: none;
  font-style: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}