@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.Logo {
  height: 100%;
  text-align: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.0rem;
  font-weight: 800;
  font-style: italic;
  color: var(--primary-dark);
  font-family: 'Roboto', sans-serif;
}

.LogoLink {
  color: var(--primary-dark);
  text-decoration: none;
}