.MetaQuantity {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.MetaQuantityText {
  font-size: 1.4rem;
  font-weight: 500;
}

.MetaPicker {
  margin-left: 20px;
  width: 65px;
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.0rem;
  box-sizing: border-box;
  border-radius: 0;
  border: 1px solid black;
}

.MetaPicker:focus {
  outline: none;
}