.Banner {
  box-sizing: border-box;
  background-color: var(--background-dark);
  margin: 0px;
  margin-bottom: 10px;
  padding-left: 10px;
  height: 40px;
  width: 100%;
  text-align: left;
  vertical-align: middle;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 800;
  font-style: normal;
  color: black;
  font-family: 'Roboto', sans-serif;
}