.Product {
  width: 100%;
  display: grid;
  grid-template-areas: "image description";
  grid-template-columns: 300px auto;
}

.ProductImage {
  width: 250px;
  height: 250px;
  background: var(--background-dark);
}

.ProductImage img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}