.ImageUpload {
  width: 100%;
  display: block;
  margin: 20px;
  font-style: inherit;
  text-align: left;
}

.ImageUpload label, .ImageUpload input {
  display: block;
  margin: 10px;
}

.ImageUpload label {
  font-size: 1.5rem;
}

.ImageUpload input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  padding: 10px;
}

