@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --primary-dark: #009430;
  --primary-darker: #006f23;
  --primary-light: #00d142;
  --background-dark: #e7e7e7;
  --background-light: #ffffff;
  --border-dark: #8b8b8b;
  --border-light: #acacac;
  --button-primary: #1d1d1d;
  --button-hover: #353535;
  --button-click: #5a5a5a;
  --button-light: var(--background-light);
  --select-arrow: #009430;
}

.App {
  text-align: center;
  width: 100%;
  min-height: 100vh; /* Part of "Sticky Footer" */
  display: flex; /* Part of "Sticky Footer" */
  flex-direction: column; /* Part of "Sticky Footer" */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}