.HeaderButton {
  background: var(--background-light);
  border: none;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  width: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.HeaderButton:hover {
  background: var(--background-dark);
  cursor: pointer;
}

.HeaderButton:focus, .HeaderButton:active {
  border: none;
  outline: none
}

.HeaderButton.Open {
  background: var(--background-dark);
}

.HeaderIcon {
  font-size: 1.8rem;
  line-height: 1.8rem;
}

.HeaderButton span {
  font-size: 0.8rem;
  font-weight: 800;
  margin-top: 5px;
}

.menu {
  grid-area: menu;
}

.cart {
  grid-area: cart;
}

.user {
  grid-area: user;
}