.MetaWishAndShip {
  margin-top: 50px;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.MetaWish {
  width: 100%;
  display: flex;
  align-items: center;
}

.WishIcon {
  color: var(--border-dark);
  font-size: 2.0rem;
}

.WishText {
  margin-left: 20px;
  font-size: 1.2rem;
  text-align: center;
  vertical-align: middle;
}

.MetaShip {
  width: 100%;
  display: flex;
  align-items: center;
}

.MetaShip .ShippingInfo {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
}

.MetaShip .Days {
  font-size: 1.2rem;
  font-weight: 500;
}

.MetaShip .ExtraInfo {
  font-size: 1.0rem;
}