.CheckoutProductPrice {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 500;
}

.CheckoutProductTotalPrice {
  margin-top: auto;
}