.MyProducts {
  box-sizing: border-box;
  size: 4.0rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.AllMyProducts {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#newProductButton {
  align-self: flex-end;
}