.CartProductQuantityPrice {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.CartProdPrice {
  font-size: 1.2rem;
  font-weight: 500;
  color: red;
}

.CartProductQuantityPicker {
  width: 55px;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 0.8rem;
  box-sizing: border-box;
  border-radius: 0;
  border: 1px solid black;
}

.CartProductQuantityPicker:focus {
  outline: none;
}