.TagSearchField {
    display: block;
    margin: 20px;
    font-style: inherit;
    text-align: left;
  }
  
  .TagSearchField label, .TagSearchField input {
    display: block;
    margin: 10px;
  }
  
  .TagSearchField label {
    font-size: 1.5rem;
  }
  
  .TagSearchField input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    padding: 10px;
  }