.CartButton {
  cursor: pointer;
  margin-left: 20px;
  border: 0;
  border-radius: 10px;
  background: red;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
  color: white;
  font-size: 1.0rem;
  font-weight: 800;
  flex: 1;
}

.CartButton:focus {
  outline: none;
}