.ProductForm {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  /* background-color: blue; */
  display: block;
  /* align-items: center; */
  /* justify-content: center; */
}

.ProductForm .submit {
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  font-style: inherit;
  /* align-content: center; */
  text-align: center;
}
