.CartProductInfo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CartProductName {
  font-size: 1.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.CartProductName span {
  width: 100%;
  display: flex;
}

.ProdLink {
  font-size: 0.9rem,
}

.CartProdDesc {
  font-size: 0.8rem;
}