.TextArea {
  width: 100%;
  display: block;
  margin: 20px;
  font-style: inherit;
  text-align: left;
}

.TextArea label, .TextArea textarea {
  display: block;
  margin: 10px;
}

.TextArea label {
  font-size: 1.5rem;
  margin: 10px;
}

.TextArea textarea {
  width: 350px;
  height: 150px;
  padding: 10px;
}